* {
    margin: 0;
    padding: 0;
}

.bg {
    z-index: -3;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;   
}

.about-image img{
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.about {
  margin: 0 auto;
  width: 100%;
  padding-left: 40px;
  padding-top: 100px;
}

.desc-title h1{
  letter-spacing: -2px;
  font-size: 50px;
  font-weight: 700;
}

.desc-text {
  text-align: left;
  line-height: 47px;
  width: 600px;
  opacity: 70%;
  padding-top: 20px;
  font-weight: 350;
  font-size: 25px;
  letter-spacing: 3px;
}

.desc {
  font-family: Lexend;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.wrapper {
    transition: all 0.5s ease;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 140px;
}

.brand {
    display: flex;
    font-size: 1.5em;
    font-family: Poppins;
    padding: 15px;
    flex-direction: row;
}

.logo {
    padding-left: 0px;
}

.title {
    list-style: none;
    padding-top: 25px;
    font-size: 45px;
    font-weight: bold;
    padding-left: 20px;
}

.judul > h1{
    padding-left: 20px;
    font-size: 50px;
    font-weight: bold;
}

.judul{
    font-family: lexend;
    padding-top: 200px;
}

.judul1{
  font-family: lexend;
  padding-top: 20px;
}
.judul1 > h1{
  padding-left: 20px;
  font-size: 50px;
  font-weight: bold;
}

.form {
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: #cacaca;
}

.fancy:hover::before {
  width: 1.5rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.content{
  font-family: lexend;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 35px;
  letter-spacing: 1px;
  opacity: 0.7;
}

.navi-scrolled {
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: yellow;
}

.navi-container {
    font-family: poppins;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
  }

.navi-container > li {
    list-style-type: none;
    padding: 15px;
}

.navi-container > li > a {
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    text-decoration: none;
}

.navi-container > li > a:hover {
    color: black;
    transition: all .3s ease-in-out;
}

  .navigation-manual{
    position: absolute;
    width: 1349px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: white;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }

  .navigation-auto{
    position: absolute;
    display: flex;
    width: 1349px;
    justify-content: center;
    margin-top: 630px;
  }
  
  .navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
  }
   